<article class="bookPost">
<div class="book">
    <a href="{{bookClub_name}}"target="_blank">{{bookClub_name}},</a>
    <a href="{{city_name}}"target="_blank">{{city_name}},</a>
    <a href="{{meeting_weekday}}"target="_blank">{{meeting_weekday}},</a>
    <a href="{{meeting_time}}"target="_blank">{{meeting_time}},</a>
</div>
<div class="book-meta">
    by {{user.username}} on {{format_date created_at}}
    {{!-- |
    <a href="/post/{{id}}">{{comment.length}} {{format_plural "comment" comment.length</a> --}}
</div> 
</article>
