
<article class="bookPost">
<div class="book">
    Book Club Name: <a href="{{bookClub_name}}"target="_blank">{{bookClub_name}}</a> </br>
    City: <a href="{{city_name}}"target="_blank">{{city_name}}</a> </br>
    Meeting Time: <a href="{{meeting_weekday}}"target="_blank">{{meeting_weekday}} at {{meeting_time}}</a>
</div>
<div class="book-meta">
    by {{user.username}} on {{format_date created_at}}
    {{!-- |
    <a href="/post/{{id}}">{{comment.length}} {{format_plural "comment" comment.length</a> --}}
</div> 
</article>
