
<article>
<div class="">
    <h3>{{bookClub_name}}</h3>
   <p>City:<span class="fw-bold"> {{city_name}} </span></p>
   <p> Meeting Time:<span class="fw-bold"> {{meeting_weekday}} at {{meeting_time}} </span></p>
</div>
<div class="">
    <p>Posted by <span class="fw-bold">{{user.username}}</span> on {{format_date created_at}} </p>
    {{!-- |
    <a href="/post/{{id}}">{{comment.length}} {{format_plural "comment" comment.length</a> --}}
</div> 
</article>
