<article>
<div class="">
    <h3> {{cafe_name}} </h3> 
    <p>City:<span class="fw-bold"> {{city_name}}</span> </p>
    <p> Posted by <span class="fw-bold">{{user.username}}</span> on {{format_date created_at}} </p>
</div>
<div class="">
    {{!-- |
    <a href="/post/{{id}}"></a>{{comments.length}} {{format_plural "comment" comments.length}}</a> --}}
</div> 
</article>
