
<article class="coffeePost">
<div class="coffee">
    <a href="{{cafe_name}}" target="_blank">{{cafe_name}},</a>
    <a href="{{city_name}}" target="_blank">{{city_name}}</a>
</div>
<div class="coffee-meta">
    by {{user.username}} on {{format_date created_at}}
    {{!-- |
    <a href="/post/{{id}}">{{comment.length}} {{format_plural "comment" comment.length</a> --}}
</div> 
</article>
